<div class="user-details">
  <h3>
  We are a team of researchers from the College of Computer Science and Technology and the Database and Data Intelligence Lab. Our focus is on creating Rapid, Reliable, Responsible, and Resilient solutions for data management and analytics.
  <br/><br/>

  We strive to contribute to the green transition and human well-being through sustainable data intelligence and systems. Our expertise includes Resource-efficient Computing, Data Quality for AI, AI for Data Quality, and Reliable Mobile Computing Services.
  <br/><br/>

  We invite collaborations with like-minded researchers and institutions who share our vision. Join us to make a positive impact on the world through data-driven innovations.

  <br/><br/>
  We're revamping our website. Stay tuned for updates!
  </h3>
</div>
